# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.vs/
TestResults/

# Visual Studio Code
.vscode/

# NuGet
*.nupkg
.nuget/


# Others
*.log
*.tlog
*.cache
*.pdb
*.dbmdl
*.dbmdl
*.swp
*.DS_Store
Thumbs.db

# Rider
.idea/
*.sln.iml

# Build results
[Dd]ebug/
[Rr]elease/ 

# ILRepack
ilrepack.log
ilrepack.exe

# Release files
release-files/

# Powerbuilder
*.usr.opt