<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <!-- FTP Authentication Provider Settings -->
    <add key="UserStore:Type" value="Json" />
    <add key="UserStore:Path" value="C:\inetpub\ftpusers\users.enc" />
    <add key="UserStore:EncryptionKeyEnv" value="FTP_USERS_KEY" />
    <add key="Hashing:Algorithm" value="PBKDF2" />
    <add key="Hashing:Iterations" value="100000" />
    
    <!-- Allowed Admin Users (comma-separated) -->
    <add key="AllowedAdmins" value="admin1,admin2" />
  </appSettings>
  
  <connectionStrings>
    <!-- Add connection string if using SQL Server or SQLite -->
    <!--<add name="FtpAuthDb" connectionString="Data Source=|DataDirectory|\ftpauth.db" providerName="System.Data.SQLite" />-->
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" maxRequestLength="4096" />
    
    <!-- Forms Authentication -->
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="120" name=".FTPMGMT" slidingExpiration="true" requireSSL="true" />
    </authentication>
    
    <authorization>
      <deny users="?" />
    </authorization>
    
    <!-- Custom Errors -->
    <customErrors mode="RemoteOnly" defaultRedirect="~/Error">
      <error statusCode="404" redirect="~/Error/NotFound" />
      <error statusCode="500" redirect="~/Error/ServerError" />
    </customErrors>
    
    <!-- Session State -->
    <sessionState mode="InProc" cookieless="false" regenerateExpiredSessionId="true" timeout="20" stateNetworkTimeout="60" />
    
    <!-- Security Headers via httpProtocol -->
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Frame-Options" value="DENY" />
        <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
        <add name="Content-Security-Policy" value="default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; style-src 'self' 'unsafe-inline'; img-src 'self' data:; font-src 'self';" />
      </customHeaders>
    </httpProtocol>
  </system.web>
  
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    
    <!-- URL Rewrite to force HTTPS -->
    <rewrite>
      <rules>
        <rule name="Force HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
            <add input="{HTTP_HOST}" pattern="localhost" negate="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
    
    <!-- Remove Server Header -->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="4194304" />
        <hiddenSegments>
          <add segment="bin" />
          <add segment="App_Data" />
          <add segment="App_Code" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="404" />
      <remove statusCode="500" />
      <error statusCode="404" path="/Error/NotFound" responseMode="ExecuteURL" />
      <error statusCode="500" path="/Error/ServerError" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.11.7.0" newVersion="5.11.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration> 